.header {
  display: flex;
}

.header img {
  width: 50%;
}

.rightHeader {
  width: 50%;
}

@media (max-width: 767px) {
  .header {
    display: block;
  }

  .header img {
    width: 100%;
  }

  .navIcon {
    height: 40px;
    position: absolute;
    /* top: 10px;
    left: -50px; */
    top: -365px;
    left: 530px;
  }
}