.header {
  display: flex;
}

.header img {
  width: 50%;
}

.rightHeader {
  width: 50%;
}

.navIcon {
  display: none;
}

h1 {
  margin: 5% auto;
}

form {
  margin: 5% auto;
}

@media (max-width: 767px) {
  .header {
    display: block;
  }

  .header img {
    width: 100%;
  }

  .navIcon {
    height: 40px;
    position: relative;
    top: -365px;
    left: 530px;
    box-shadow: 2px 3px 5px black;
  }

  form {
    margin: 0 auto;
  }
}