.card {
  width: 40%;
  margin: 5%;
  /* padding-bottom: 2%; */
  box-shadow: 3px 5px 8px grey;
  border-radius: 25px;
}

.cardNav {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* position: absolute; */
  /* position: relative; */
  /* top: 15%; */
}

.card_img {
  border-radius: 0 !important;
}

/* .cardBtn {
  justify-content: flex-start;
  position: relative;
  top: 10px;
  left: 10px;
} */

/* .muiIcon {
  position: relative;
  top: 5px;
  left: 70px
} */

.cardBtn {
  display: flex;
}

.cardBtn p {
  padding: 5px;
  color: rgba(255, 255, 255, 0.850);
  border: none;
  border-radius: 10px;
  margin: 0 5px;
  border: 2px solid white;
  background-color: #33b249;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.price {
  font-weight: bolder;
}

.address,
.cart_state,
.card_zipcode {
  font-size: small;
}

.cart_state:hover {
  font-weight: bolder;
  font-size: medium;
  color: rgb(255, 157, 0);
  transition: color 0.5s ease;
  transition: font-size 0.5s ease;
}

.card_zipcode:hover {
  font-weight: bolder;
  font-size: medium;
  color: rgb(75, 163, 59);
  transition: color 0.5s ease;
  transition: font-size 0.5s ease;
}

/* .cart_state:active,
.card_zipcode:active {
  transform: translateY(3px);
} */

.bottomIcons {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 5%; */
  padding-bottom: 5%;
}

.bedroom {
  display: flex;
  padding: 5px;
  background-color: rgba(228, 179, 94, 0.533);
  border-radius: 5px;
}

.bedroom p,
.sqft p,
.view p {
  margin: 0;
}

.sqft {
  display: flex;
  padding: 5px;
  background-color: rgba(94, 217, 228, 0.533);
  border-radius: 5px;
}

.view {
  display: flex;
  padding: 5px;
  background-color: rgba(228, 94, 174, 0.533);
  border-radius: 5px;
}

.view a {
  display: flex;
  padding: 0;
  margin: 0;
}

.view:hover {
  cursor: pointer;
  box-shadow: 2px 3px 5px grey;
}

.view:active {
  transform: translateY(3px);
}

@media (max-width: 767px) {
  .card {
    width: 90vw;
    margin-top: 10%;
    margin-left: 10%;
  }
}